<h1 class="text-center">Center Chat</h1>

<label>Email:</label>
<input type="text" id="userEmail" placeholder="Email">
<label>Nombre:</label>
<input type="text" id="userFirstName" class="form-control my-2 mr-2" placeholder="Nombre">
<label>Apellido:</label>
<input type="text" id="userLastName" class="form-control my-2 mr-2" placeholder="Apellido">
<label>Edad:</label>
<input type="text" id="userAge" class="form-control my-2 mr-2" placeholder="Edad">
<label>Alias:</label>
<input type="text" id="userAlias" class="form-control my-2 mr-2" placeholder="Ingresa tu Alias">
<label>Avatar:</label>
<input type="text" id="userURL" class="form-control my-2 mr-2" placeholder="Url avatar">
<label>Mensaje:</label>
<input type="text" id="message">
<button id="sendMsg">Enviar</button>
<p></p>