<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="/socket.io/socket.io.js"></script>
  <title>Templates EJS</title>
</head>

<body>
  <div class="container">
  
  </div>
  <main class="container">
    <h2 class="h2 mt-4 mb-3 text-center">Bitácora</h2>
    <div class="table-responsive">
      <table class="table table-success table-striped">
        <tr>
          <th>Título</th>
          <th>Precio</th>
          <th class="text-center">Thumbnail</th>
        </tr>
        <tbody id="productos">
          %productos.forEach((producto)= {%
            <tr>
              <td>
                %=producto.title%
              </td>
              <td>
                $%=producto.price%
              </td>
              <td class="d-flex justify-content-center">
                <img src="%=producto.thumbnail%>" width="60px" height="60px" />
              </td>
            </tr>
            %});%
        </tbody>
      </table>
    </div>
  </main>
  <div>
    %- include('./chat')-%
  </div>
  <script src="../scripts/index.js"></script>
</body>

</html>