% if(products.length 0){ %
    <div class="table-responsive">
      <table class="table table-dark">
        <tr style="color: rgb(158, 240, 147);">
          <th>Nombre del producto</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
        %products.forEach((product)= {%
          <tr>
            <td>
              %=product.name%
            </td>
            <td>$%=product.price%
            </td>
            <td><img src="%=product.image%>" width="35px" height="35px" /></td>
          </tr>
          %});%
      </table>
    </div>
    % } else{ %
      <h3 class="alert alert-danger">No se pudieron generar los productos con Faker.</h3>
        % } %