<input type="button" onclick="location.href='/'" value="Agregar producto">

<div class="product-container">
    {{#each product}}
    <div class="product-card">
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}}>
    </div>
    {{/each}}
</div>